.app-container {
  font-family: Helvetica, Arial, sans-serif;
  background: #e7e7e7;

  .header {
    padding-top: 20px;
  }

  .content {
    display: grid;
    grid-template-rows: 100px 90%;
    grid-row-gap: 10px;

    .filters {
      background: white;
      display: grid;
      grid-template-columns: 50% 50%;
      border: 1px solid #cccccc;
      grid-column-gap: 10px;

      .filter-element {
        align-self: center;
        justify-self: center;
      }
    }

    .hotel-list {
      background: #e7e7e7;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      .hotel-list-element {
        padding: 10px;
        background: #f9f9f9;

        .container-photo {
          align-items: center;
          justify-content: center;
          display: flex;

          .photo {
            max-width: 300px;
            max-height: 200px;
            width: auto;
            height: auto;
          }
        }
      }

      .label-container {
        padding: 10px;

        .amount {
          color: #6dba4a;
          margin: 0px;
        }

        .label {
          margin: 0px;
          font-size: 12px;
          color: #6d6d6d;
        }

        h1 {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
